@font-face {
    font-family: 'Avenir' ;
    src: url(../assets/fonts/Disney_Avenir_Demi.ttf)
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


 #boton-salir {
    color:#e7d211

 }


body{
    background: #090b13;
}

.imgLogo {
    width: 100px;
}

#btnIniciarSesion {
    background-color: #4e4a59;
}


#btnInicSuscripcion{
    background-color: #fc3c36;
}

.imgTitulo{
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    width: 300px;
}



.planes {
    background: #090b13;
}

.logoDeStar {
    background: #090b13;
}

.btnCardSuscripcion {
    background: #6421ff;
}

.imgFondo{
    background: #230a5efb;
    
}


.footerLista {
    list-style: none;
    
}

.footerLista a {
    text-decoration: none;
    margin: 0 10px;
    color: #ffff;
}

.acordeonColor {
    background: #35313f;
}

.nav-link {
    color: #fff;
    font-family: 'Avenir';
    margin-right: 2rem;
    }

.nav-link:hover {
      color: #de0611;
    ;
}
    
strong {
    color: #de0611;
}

strong:hover {
    color:#cdda91;
    text-decoration: none;
}


body{
  background-color: #090b13;
}

section{
    display: flex;
    width: 600px;
    height: 430px;
    margin-top: 2%;
  }
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }
  .texto{
    color: white;;
    font-family: fuente 'Avenir';
    text-align: center;
    margin-top: 2%;
  }

  .imgLogo {
    width: 100px;
}

#btnIniciarSesion {
    background-color: #4e4a59;
}


#btnInicSuscripcion{
    background-color: #fc3c36;
}

.imgTitulo{
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
    width: 300px;
}


.logoDeStar {
    background: #090b13;
}

.btnCardSuscripcion {
    background: #6421ff;
}


.imgFondo{
    background: #230a5efb;
    
}

.footerLista {
    list-style: none;
    
}

.footerLista a {
    text-decoration: none;
    margin: 0 10px;
    color: #ffff;
}

.acordeonColor {
    background: #35313f;
}


@media (max-width:768px){
    .navbar {
        background-color: transparent;
    }
       
    }


@media (max-width:576px){
    .imgTitulo{
        display: none;
        
       
    }
}
@media (min-width:768px){
    .imgTitulo{
        margin-top: 100px;
        width: 400px;
       
    }
}


@media (min-width:1200px){
    .imgTitulo{
        margin-top: 100px;
        margin-left: 40px;
        width: 500px;
       
    }
}