/*General*/
@font-face {
  font-family: 'Avenir' ;
  src: url(../assets/fonts/Disney_Avenir_Demi.ttf)
}


body{
  background: #090b13;
}

.imgLogo {
  width: 100px;
}

#btnIniciarSesion {
  background-color: #4e4a59;
}


#btnInicSuscripcion{
  background-color: #fc3c36;
}

.imgTitulo{
  position: absolute;
  margin-top: 70px;
  margin-left: 10px;
  width: 300px;
}


@media (max-width:576px){
  .imgTitulo{
      display: none;
      
     
  }
}
@media (min-width:768px){
  .imgTitulo{
      margin-top: 100px;
      width: 400px;
     
  }
}


@media (min-width:1200px){
  .imgTitulo{
      margin-top: 100px;
      margin-left: 40px;
      width: 500px;
     
  }
}
.nav-link {
  color: #fff;
  font-family: 'Avenir';
  margin-right: 2rem;
  }



  
#search-item {
  margin-right: 2rem
}

.navbar {
  background-color: #000000;
}

@media (max-width:768px){
  .navbar {
      background-color: transparent;
  }
     
  }

strong {
  color: #de0611;
}


/*Tarjetas */


.card .img-fit {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  cursor: pointer;
}

.card:hover {
  box-shadow: 5px 5px 20px #00000066;
  transform: translateY(-3%);
  padding: 2px;

}

.card-body{
border-color: #090b13;
text-size-adjust: 1rem;
background-color: #35313f;
color: #f9f9f9;
font-family: 'Avenir';
font-size: 0.7rem;
font-weight: 700;
}

.label-top {
  position: absolute;
  background-color: #ec1111;
  color: #fff;
  margin: 10px;
  top: 8px;
  left: 8px;
  padding: 5px 10px 5px 10px;
  font-size: 0.7rem;
  font-weight: 600;
  border-radius: 3px;
  text-transform: uppercase;
}

.logo_espn {
  width:  5rem;
}

#title_tendencias {
text-align: center;
color: #f9f9f9;
padding: 1rem;
}

/*Footer */
.imgLogo {
  width: 100px;
}

.footerLista {
  list-style: none;
  
}

.footerLista a {
  text-decoration: none;
  margin: 0 10px;
  color: #ffff;
}

.acordeonColor {
  background: #35313f;
}



#btnIniciarSesion {
  background-color: #4e4a59;
}


#btnInicSuscripcion{
  background-color: #fc3c36;
}


