@font-face {
    font-family: 'Avenir' ;
    src: url(../assets/fonts/Disney_Avenir_Demi.ttf)
  }

.nav-link {
    color: #fff;
    font-family: 'Avenir';
    margin-right: 2rem;
    }

.nav-link:hover {
      color: #de0611;
    ;
}
    
  
.navbar {
    background-color: #000000;
}

@media (max-width:768px){
    .navbar {
        background-color: transparent;
    }
       
    }

strong {
    color: #de0611;
}

strong:hover {
    color:#cdda91;
    text-decoration: none;
}

#boton-salir {
   color: #ebe844;
}


.imagen-tabla{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.pelicula-destacada {
   
    font-weight: bold; 
     
  }